body {
    background: cornsilk;
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    border: teal solid;
    padding: 10px;
    background-color: rgb(60, 170, 170);
    font-size: larger;
}

.card_div {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.card {
    border: black solid;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}